<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>A Pen by Natalia Niedziela</title>



    <link rel="stylesheet" href="css/style.css">


</head>

<body>

    <div id="app">
        <h1>{{ quiz.title }}</h1>
        <div v-for="(question, index) in quiz.questions">
            <div v-show="index === questionIndex">
                <h2>{{ question.text }}</h2>
                <ol>
                    <li v-for="response in question.responses">
                        <label>
                            <input type="radio" v-bind:value="response.correct" v-bind:name="index"
                                v-model="userResponses[index]"> {{response.text}}
                        </label>
                    </li>
                </ol>
                <button v-if="questionIndex > 0" v-on:click="prev">
                    prev
                </button>
                <button v-on:click="next">
                    next
                </button>
            </div>
        </div>
        <div v-show="questionIndex === quiz.questions.length">
            <h2 class="quiz-end">
                Brawo!
            </h2>
            <p>
                Twój wynik: {{ score() }} / {{ quiz.questions.length }}
            </p>
        </div>
    </div>
    <button class="bck"><a href="../index.html">Powróć na stronę</a></button>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>



    <script src="js/index.js"></script>




</body>

</html>